<!-- FILTROS DE BUSCA PRIMARIA E RELACIONAL-->
<div class="filters">
  <mat-form-field>
    <div class="filter1">
      <mat-label>Buscar Esquema</mat-label>
      <mat-select [(value)]="selected0">
        <mat-option>None</mat-option>
        <mat-option value="Medico">Medico</mat-option>
        <mat-option value="Paciente">Paciente</mat-option>
        <mat-option value="Consulta">Consulta</mat-option>
        <mat-option value="Exame">Exame</mat-option>
        <mat-option value="Cirurgia">Cirurgia</mat-option>
        <mat-option value="Internacao">Internação</mat-option>
        <mat-option value="Atendimentops">Atendimento PS</mat-option>
      </mat-select>
    </div>
  </mat-form-field>


  <div class="filter2">
    <div class="medico-filter" *ngIf="selected0 == 'Medico'">
      <mat-form-field>
        <mat-label>Buscar por</mat-label>
        <mat-select [(value)]="selected1">
          <mat-option>None</mat-option>
          <mat-option value="crm">CRM</mat-option>
          <mat-option value="cpf">CPF</mat-option>
          <mat-option value="especializacao">Especialização</mat-option>
          <mat-option value="nome">Nome</mat-option>
          <mat-option value="telefone">Telefone</mat-option>
          <mat-option value="data_de_nascimento">Data de Nascimento</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="paciente-filter" *ngIf="selected0 == 'Paciente'">
      <mat-form-field>
        <mat-label>Select an option</mat-label>
        <mat-select [(value)]="selected1">
          <mat-option>None</mat-option>
          <mat-option value="cpf">CPF</mat-option>
          <mat-option value="data_de_nascimento">Data de Nascimento</mat-option>
          <mat-option value="email">Email</mat-option>
          <mat-option value="nome">Nome</mat-option>
          <mat-option value="telefone">Telefone</mat-option>
          <mat-option value="tipo_sanguineo">Tipo Sanguineo</mat-option>
          <mat-option value="sexo">Sexo</mat-option>
          <mat-option value="alergias">Alergias</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="consulta-filter" *ngIf="selected0 == 'Consulta'">
      <mat-form-field>
        <mat-label>Select an option</mat-label>
        <mat-select [(value)]="selected1">
          <mat-option>None</mat-option>
          <mat-option value="crm">CRM Médico</mat-option>
          <mat-option value="cpf">CPF Paciente</mat-option>
          <mat-option value="hora_da_consulta">Hora da Consulta</mat-option>
          <mat-option value="sala">Sala</mat-option>
          <mat-option value="data_da_consulta">Data da Consulta</mat-option>
        </mat-select>

      </mat-form-field>
    </div>

    <div class="exame-filter" *ngIf="selected0 == 'Exame'">
      <mat-form-field>
        <mat-label>Select an option</mat-label>
        <mat-select [(value)]="selected1">
          <mat-option>None</mat-option>
          <mat-option value="protocolo_exame">Protocolo do Exame</mat-option>
          <mat-option value="data_do_exame">Data do Exame</mat-option>
          <mat-option value="hora_do_exame">Hora do Exame</mat-option>
          <mat-option value="resultado">Resultado</mat-option>
          <mat-option value="tipo">Tipo</mat-option>
          <mat-option value="crm">CRM Médico</mat-option>
          <mat-option value="cpf">CPF Paciente</mat-option>
          <mat-option value="data_da_consulta">Data da Consulta</mat-option>
          <mat-option value="protocolo_internacao">Protocolo da Internação</mat-option>
          <mat-option value="protocolo_atendimento">Protocolo do Atendimento</mat-option>
        </mat-select>

      </mat-form-field>
    </div>

    <div class="cirurgia-filter" *ngIf="selected0 == 'Cirurgia'">
      <mat-form-field>
        <mat-label>Select an option</mat-label>
        <mat-select [(value)]="selected1">
          <mat-option>None</mat-option>
          <mat-option value="protocolo_cirurgia">Protocolo da Cirurgia</mat-option>
          <mat-option value="hora_da_cirurgia">Hora da Cirurgia</mat-option>
          <mat-option value="data_da_cirurgia">Data da Cirurgia</mat-option>
          <mat-option value="tipo_de_cirurgia">Tipo de Cirurgia</mat-option>
          <mat-option value="cpf">CPF Paciente</mat-option>
          <mat-option value="crm">CRM Médico</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="internacao-filter" *ngIf="selected0 == 'Internacao'">
      <mat-form-field>
        <mat-label>Select an option</mat-label>
        <mat-select [(value)]="selected1">
          <mat-option>None</mat-option>
          <mat-option value="protocolo_internacao">Protocolo Internação</mat-option>
          <mat-option value="data_internacao">Data da Internação</mat-option>
          <mat-option value="dias_internado">Período Internado</mat-option>
          <mat-option value="leito">Leito</mat-option>
          <mat-option value="quarto">Quarto</mat-option>
          <mat-option value="cpf">CPF Paciente</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="atendimento-filter" *ngIf="selected0 == 'Atendimentops'">
      <mat-form-field>
        <mat-label>Select an option</mat-label>
        <mat-select [(value)]="selected1">
          <mat-option>None</mat-option>
          <mat-option value="protocolo_atendimento">Protocolo</mat-option>
          <mat-option value="data_atendimento">Data</mat-option>
          <mat-option value="tipo_de_socorro">Tipo de Socorros</mat-option>
          <mat-option value="cpf">CPF Paciente</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>


<!-- FILTROS RELACIONAIS -->
  <div class="relacional-form">
    <mat-label> Busca Relacional </mat-label>
    <div>
      <div>
        <mat-checkbox [(ngModel)]="medicoChecked">Medico </mat-checkbox>
        <mat-checkbox [(ngModel)]="pacienteChecked">Paciente </mat-checkbox>
        <mat-checkbox [(ngModel)]="consultaChecked">Consulta </mat-checkbox>
      </div>
      <div>
        <mat-checkbox [(ngModel)]="exameChecked">Exame </mat-checkbox>
        <mat-checkbox [(ngModel)]="cirurgiaChecked">Cirurgia </mat-checkbox>
        <mat-checkbox [(ngModel)]="internacaoChecked">Internação </mat-checkbox>
        <mat-checkbox [(ngModel)]="atendimentopsChecked">Atendimento PS </mat-checkbox>
      </div>
    </div>
  </div>

</div>
