<!-- SEARCH BAR -->
<div class="all">
<div class="search-filter-table">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="busca">
  </mat-form-field>

<!-- FILTERS -->
  <div class="filters">
    <app-filter></app-filter>
  </div>

<!-- TABELAS -->
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8>" *ngIf="showTable">
  <!-- Colunas da tabela, para adicionar novas colunas basta
      criar outro ng-container mudando o valor de matColumnDef
      e o elemento pego do objeto (e.g {{ tuple.<nome_do_campo_desejado> }} -->
    <ng-container matColumnDef="medico">
      <th mat-header-cell *matHeaderCellDef>Medico</th>
      <td mat-cell *matCellDef="let tuple"> {{ tuple.medico }} </td>
    </ng-container>

    <ng-container matColumnDef="crm">
      <th mat-header-cell *matHeaderCellDef>CRM</th>
      <td mat-cell *matCellDef="let tuple"> {{tuple.crm }} </td>
    </ng-container>

    <ng-container matColumnDef="idade">
      <th mat-header-cell *matHeaderCellDef>Idade</th>
      <td mat-cell *matCellDef="let tuple"> {{ tuple.idade }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<!-- FORMULARIO -->
<div>
  <app-generic-form></app-generic-form>
</div>
</div>
